@import "https://unpkg.com/marx-css/css/marx.min.css";

body {
    height: 100%;
    padding: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 450px auto;
    gap: 50px;
}

#menu {
    overflow: auto;
    height: 100%;
    padding: 30px;
    display: grid;
    align-items: stretch;
    align-content: start;
    padding-right: 20px;
    border-right: 1px solid black;
}

#menu button {
    white-space: normal;
    word-wrap: break-word;
    padding: 3px 10px;
}

#innerDemoHost div {
    margin-bottom: 10px;
}

#demo button {
    padding: 3px 15px;
}



/* -----------------------------------
   Styles for specific demo cases
----------------------------------- */


#demo .the-message {
    font-weight: bold;
}

#demo .card {
    background-color: darkorange;
    padding: 10px
}

#demo .bam {
    background-color: lime;
}

#demo .bam2 {
    background-color: pink;
    width: 200px;
    height: 200px;
}

.hide {
    display: none;
}

.async-box {
    border: 2px solid black;
}
