@import "https://unpkg.com/marx-css/css/marx.min.css";

body {
    height: 100%;
    padding: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 450px auto;
}

.container > div {
    padding: 50px;
}

#menu {
    overflow: auto;
    height: 100%;
    display: grid;
    align-items: stretch;
    align-content: start;
    border-right: 1px solid black;
}

#menu button {
    white-space: normal;
    word-wrap: break-word;
    padding: 3px 10px;
}

#host {
    max-width: 700px;
}

#host h1 {
    margin-top: 0;
}

#addItemPanel {
    display: grid;
    grid-template-columns: 1fr auto;
}

#addItemPanel .itemName {
    border-radius: var(--br) 0 0 var(--br);
}

#addItemPanel .newItem {
    border-radius: 0 var(--br) 0 var(--br) 0;
}

#itemsPanel button {
    margin-bottom: 0;
}

#itemsPanel .item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

#itemsPanel .itemDone {
    margin: 5px;
}