@import "https://unpkg.com/marx-css/css/marx.min.css";

body {
    height: 100%;
    padding: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 450px auto;
}

.container > div {
    padding: 50px;
}

#menu {
    overflow: auto;
    height: 100%;
    display: grid;
    align-items: stretch;
    align-content: start;
    border-right: 1px solid black;
}

#menu button {
    white-space: normal;
    word-wrap: break-word;
    padding: 3px 10px;
}

#host h1 {
    margin-top: 0;
}

.flex-row {
    display: flex;
    gap: 5px;
}
